[submodule "SDKs/NET"]
	path = SDKs/NET
	url = https://github.com/aspose-imaging-cloud/aspose-imaging-cloud-dotnet
[submodule "SDKs/Java"]
	path = SDKs/Java
	url = https://github.com/aspose-imaging-cloud/aspose-imaging-cloud-java
[submodule "SDKs/NodeJS"]
	path = SDKs/NodeJS
	url = https://github.com/aspose-imaging-cloud/aspose-imaging-cloud-node
[submodule "SDKs/PHP"]
	path = SDKs/PHP
	url = https://github.com/aspose-imaging-cloud/aspose-imaging-cloud-php
[submodule "SDKs/Python"]
	path = SDKs/Python
	url = https://github.com/aspose-imaging-cloud/aspose-imaging-cloud-python
[submodule "SDKs/Ruby"]
	path = SDKs/Ruby
	url = https://github.com/aspose-imaging-cloud/aspose-imaging-cloud-ruby
