{
    "description": 	"Aspose.Imaging Cloud PHP SDK",
    "name": 		"aspose/imaging-cloud-sdk",
    "version": 		"19.1",
    "type": 		"library",
    "keywords" : 	["aspose", "imaging", "cloud", "rest", "api", "sdk", "image", "bmp", "dicom", "dng", "djvu", "djv", "emf", "gif", "jpg", "jpe", "jpeg", "jpeg2000", "jp2", "jpx", "jpm", "j2k", "odg", "pdf", "png", "tiff", "tif", "webp", "wmf", "reverse", "search"],
	"license": 		"MIT",
    "homepage": "https://github.com/aspose-imaging-cloud/aspose-imaging-cloud-php",
    "authors": [
		{
            "name": "Maksym Shnurenok",
            "email": "maksym.shnurenok@aspose.com"
		}
    ],
	"config": {
        "platform": {
            "php": "5.6.39"
        }
    },
    "require": {
        "php": ">=5.6",
        "guzzlehttp/guzzle": "^6.2",
        "psr/http-message": "~1.0"
    },
    "require-dev": {
        "aspose/storage-sdk-php": "18.*",
        "ext-curl": "*",
        "ext-mbstring": "*",
        "phpunit/phpunit": "^4.8"
    },
	"autoload": {
        "psr-0": {
            "Aspose": ["lib/"]
        }
    },
    "autoload-dev": {
        "psr-0": {
            "Aspose": ["tests/"]
        }
    },
    "archive": {
        "exclude": ["/tests", "/testdata", "phpunit.xml"]
    }
}
