SET CSCPATH=%SYSTEMROOT%\Microsoft.NET\Framework\v2.0.50727
%CSCPATH%\csc /reference:bin/Newtonsoft.Json.dll /target:library /out:bin/{{packageName}}.dll /recurse:src\*.cs /doc:bin/{{packageName}}.xml

