// --------------------------------------------------------------------------------------------------------------------
// <copyright company="Aspose" file="{{classname}}Tests.cs">
//   Copyright (c) 2018-2020 Aspose Pty Ltd. All rights reserved.
// </copyright>
// <summary>
//   Permission is hereby granted, free of charge, to any person obtaining a copy
//  of this software and associated documentation files (the "Software"), to deal
//  in the Software without restriction, including without limitation the rights
//  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
//  copies of the Software, and to permit persons to whom the Software is
//  furnished to do so, subject to the following conditions:
// 
//  The above copyright notice and this permission notice shall be included in all
//  copies or substantial portions of the Software.
// 
//  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
//  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
//  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
//  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
//  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
//  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
//  SOFTWARE.
// </summary>
// --------------------------------------------------------------------------------------------------------------------

using NUnit.Framework;

using System;
using System.IO;
using System.Collections.Generic;
using System.Net;
using {{packageName}};
using {{packageName}}.{{modelPackage}};
using {{packageName}}.Client;
using System.Reflection;
using Newtonsoft.Json;
using Com.Aspose.Storage.Api;
using Com.Aspose.Storage.Model;

{{#models}}
{{#model}}
namespace {{packageName}}.Test.Model
{
    /// <summary>
    ///  Class for testing {{classname}}
    /// </summary>
    /// <remarks>
    /// This file is automatically generated by Swagger Codegen.
    /// Please update the test case below to test the model.
    /// </remarks>
    [TestFixture]
    public class {{classname}}Tests
    {
        // TODO uncomment below to declare an instance variable for {{classname}}
        //private {{classname}} instance;

        /// <summary>
        /// Setup before each test
        /// </summary>
        [SetUp]
        public void Init()
        {
            // TODO uncomment below to create an instance of {{classname}}
            //instance = new {{classname}}();
        }

        /// <summary>
        /// Clean up after each test
        /// </summary>
        [TearDown]
        public void Cleanup()
        {

        }

        /// <summary>
        /// Test an instance of {{classname}}
        /// </summary>
        [Test]
        public void {{classname}}InstanceTest()
        {
            // TODO uncomment below to test "IsInstanceOfType" {{classname}}
            //Assert.IsInstanceOfType<{{classname}}> (instance, "variable 'instance' is a {{classname}}");
        }

        {{#discriminator}}
        {{#children}}
        /// <summary>
        /// Test deserialize a {{classname}} from type {{parent}}
        /// </summary>
        [Test]
        public void {{classname}}DeserializeFrom{{parent}}Test()
        {
            // TODO uncomment below to test deserialize a {{classname}} from type {{parent}}
            //Assert.IsInstanceOf<{{parent}}>(JsonConvert.DeserializeObject<{{parent}}>(new {{classname}}().ToJson()));
        }
        {{/children}}
        {{/discriminator}}

        {{#vars}}
        /// <summary>
        /// Test the property '{{name}}'
        /// </summary>
        [Test]
        public void {{name}}Test()
        {
            // TODO unit test for the property '{{name}}'
        }
        {{/vars}}

    }
}
{{/model}}
{{/models}}
