{{>licenseInfo}}
import * as request from "request";
import { Configuration } from "./internal/configuration";
import { ObjectSerializer } from "./internal/object-serializer";
import { addQueryParameterToUrl, invokeApiMethod } from "./internal/request-helper";
import * as model from "./model/model";

export { ApiError } from "./internal/api-error";
export * from "./model/model";

{{#apiInfo}}
{{#apis}}
{{#operations}}
/**
 * Library for communication with Aspose.Imaging Cloud API
 */
export class {{classname}} {
    /**
     * API configuration
     */
    public configuration: Configuration;

    /**
     * @param appKey App key. Please, set this value as null in case of on-premise hosting.
     * @param appSID App SID. Please, set this value as null in case of on-premise hosting.
     * @param baseUrl Base api Url. This param is required in case of on-premise hosting.
     * @param debugMode A value indicating whether debug mode. In debug mode all requests and responses are logged to console.
     * @param version API version.
     */
    constructor(appKey: string, appSID: string, baseUrl?: string, debugMode?: boolean, version?: string) {
        this.configuration = new Configuration(appKey, appSID, baseUrl, debugMode, version);
    }

{{#operation}}
    /**
     * {{&summary}}{{#notes}} {{&notes}}{{/notes}}
     * @param requestObj contains request parameters
     */
    public async {{nickname}}(requestObj: model.{{#vendorExtensions}}{{x-operationId}}{{/vendorExtensions}}Request): Promise<{{#returnType}}{{#vendorExtensions}}{{#x-binary-result}}Buffer{{/x-binary-result}}{{^x-binary-result}}model.{{{returnType}}}{{/x-binary-result}}{{/vendorExtensions}}{{/returnType}}{{^returnType}}any{{/returnType}}> {
        if (requestObj === null || requestObj === undefined) {
            throw new Error('Required parameter "requestObj" was null or undefined when calling {{nickname}}.');
        }

        {{#hasQueryParams}}let{{/hasQueryParams}}{{^hasQueryParams}}const{{/hasQueryParams}} localVarPath = this.configuration.getApiBaseUrl() + "{{{path}}}"{{#pathParams}}
            .replace("{" + "{{paramName}}" + "}", String(requestObj.{{paramName}})){{/pathParams}};
        const queryParameters: any = {};
        {{#hasHeaderParams}}
        const headerParams: any = {};
        {{/hasHeaderParams}}
{{#allParams}}{{#required}}
        // verify required parameter 'requestObj.{{paramName}}' is not null or undefined
        if (requestObj.{{paramName}} === null || requestObj.{{paramName}} === undefined) {
            throw new Error('Required parameter "requestObj.{{paramName}}" was null or undefined when calling {{nickname}}.');
        }
{{/required}}{{/allParams}}
{{#hasFormParams}}
        const formParams: { [key: string]: any } = {};
{{/hasFormParams}}        
{{#queryParams}}        
        localVarPath = addQueryParameterToUrl(localVarPath, queryParameters, "{{paramName}}", requestObj.{{paramName}});
{{/queryParams}}
{{#headerParams}}
        headerParams.{{baseName}} = ObjectSerializer.serialize(requestObj.{{paramName}}, "{{{dataType}}}");
{{/headerParams}}
{{#formParams}}
        if (requestObj.{{paramName}} !== undefined) {
            const paramKey = "{{baseName}}";
            let formValue = null;
            {{#isFile}}
            formValue = requestObj.{{paramName}};
            {{/isFile}}
            {{^isFile}}
            formValue = ObjectSerializer.serialize(requestObj.{{paramName}}, "{{{dataType}}}");
            {{/isFile}}
            formParams[paramKey] = {
                value: formValue,
                options: {
                    filename: "{{baseName}}",
                    contentType: "application/octet-stream",
                    knownLength: formValue.length,
                },
            };
        }
{{/formParams}}
        const requestOptions: request.Options = {
            method: "{{httpMethod}}",
            qs: queryParameters,
            {{#hasHeaderParams}}
            headers: headerParams,
            {{/hasHeaderParams}}
            uri: localVarPath,
{{#isResponseFile}}
            encoding: null,
{{/isResponseFile}}
{{^formParams}}
            json: true,
{{/formParams}}
{{#bodyParam}}
            body: ObjectSerializer.serialize(requestObj.{{paramName}}, requestObj.{{paramName}}.constructor.name === "Object" ? "{{{dataType}}}" : requestObj.{{paramName}}.constructor.name),
{{/bodyParam}}
        };
        
{{#hasFormParams}}
        if (Object.keys(formParams).length > 0) {
            requestOptions.formData = formParams;
        }
{{/hasFormParams}}
        {{#returnType}}const response = {{/returnType}}await invokeApiMethod(requestOptions, this.configuration);
        {{#vendorExtensions}}
        {{#returnType}}
        let result = null;
        {{#x-binary-result}}result = response.body;{{/x-binary-result}}
        {{^x-binary-result}}
        if (response.body) {
            result = ObjectSerializer.deserialize(response.body, "{{{returnType}}}");
        }{{/x-binary-result}}
        {{/returnType}}
        {{/vendorExtensions}}
        return Promise.resolve({{#returnType}}result{{/returnType}});        
    }

{{/operation}}
}
{{/operations}}
{{/apis}}
{{/apiInfo}}